body{
    margin:0px;
    width: 1000px;
    height: 500px;
    border: 5px solid red;
}

#title{
    color: green;
}

#cursor{
    width: 30px;
    height: 30px;
    position:absolute;
    top:0px;
    left:0px;
    border:1px solid red;
}

#user{
    border:1px solid red;
}

#pass{
    border:1px solid red;
}
#test{
    margin: 1px;
    width: 100;
}
